---
layout: page
title: Sprints
sortOrder: 5
---

<p class="note">Note that this page is simply a placeholder until we get some signficant stories and planning in here to make proper use of it.</p>

<div class="home">
	<table class="sprints">
		<tr>
			<th class="left right">Sprint 02</th>
		</tr>
		<tr>
			<td class="left">
				<ul class="post-list">
					{% for post in site.categories.sprint-02 %}
				    {% include story.html %}
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th class="blank">&nbsp;</th>
		</tr>
		<tr>
			<th class="left right">Sprint 04</th>
		</tr>
		<tr>
			<td class="left">
				<ul class="post-list">
					{% for post in site.categories.sprint-04 %}
				    {% include story.html %}
					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
</div>
